@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'DM Sans', sans-serif;
  color: #1a0533;
  background-color: #faf8ff;
}

h1, h2 {
  font-family: 'Playfair Display', serif;
}